body{
	margin: 0;
	background-color: #FAFAFA;
    font-family: 'Questrial', sans-serif;
}
h2{
	font-weight: bold;
	color: white;
}
h3{
	color: black;
	font-weight: bold;
}
nav{
	background-color: #9179f2;
}
.hero{
	background-image: url('../assets/images/banner.jpg');
	background-blend-mode:multiply;
	background-position: 30% 0%;
	background-size: cover;
	background-attachment: fixed;
	background-color: #770000;
	height: 85vh;
	width: 100vw;
}
.hero__overlay{
	height: 500px;
	width: 100vw;
}
.hero__overlay--text{
	width: 100%;
	text-align: center;
	color: #CCCCCC;
	font-size: 24px;
}
.hero__overlay--btn{
	margin: 20px;
}
.banner__link--discord{
	padding: 50px;
	font-size: 52px;
	text-align: center;
	background-color: #7289DA;
	color: white;
}

.btn__discord{
	height: 80px;
	width: 200px;
	background-image: url('../assets/images/discord-large.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid white;
}
.grid__display--header{
	text-align: center;
	color: grey;
	padding: 30px;
}
.grid__display--people{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 40px;
	grid-row-gap: 40px;
	grid-template-rows: repeat(3, auto);
	grid-template-areas: 
		"person1 person2 person3"
		"person4 person5 person6"
		"person7 person8 .";
	}
.person__profile{
	height: 100%;
	width: 100%;
	border-radius: 4px;
	/* background-color: ; */
}
.person__profile--picture{
	height: 200px;
	background-color: grey;
	background-position: 0% 20%;
	background-size: cover;
}
.person__profile--name{
	text-align: center;
	font-weight: bold;
}
.person__profile--desc{
	padding: 20px;
	text-align: center;
}
#person__profile--picture-1{
	background-image: url('../assets/images/profile/kody.jpg')
}
.person__profile--1{
	grid-area: person1;
}
#person__profile--picture-2{
	background-image: url('../assets/images/profile/victor.jpg')
}
.person__profile--2{
	grid-area: person2;
}
#person__profile--picture-3{
	background-image: url('../assets/images/profile/evelyn.jpg')
}
.person__profile--3{
	grid-area: person3;
}
#person__profile--picture-4{
	background-image: url('../assets/images/profile/tim.jpg')
}
.person__profile--4{
	grid-area: person4;
}
#person__profile--picture-5{
	background-image: url('../assets/images/profile/hiron.jpg')
}
.person__profile--5{
	grid-area: person5;
}
#person__profile--picture-6{
	background-image: url('../assets/images/profile/richard.jpg')
}
.person__profile--6{
	grid-area: person6;
}
#person__profile--picture-7{
	background-image: url('../assets/images/profile/marco.jpg')
}
.person__profile--7{
	grid-area: person7;
}
#person__profile--picture-8{
	background-image: url('../assets/images/profile/gavin.jpg')
}
.person__profile--7{
	grid-area: person8;
}
.page-footer{
	margin-top: 40px;
	background-color: #9179f2;
}
@media screen and (max-width: 992px){
	.grid__display--people{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 400px);
		grid-template-areas: 
			"person1 person2"
			"person3 person4" 
			"person5 person6"
			"person7 person8";
	}
}
@media screen and (max-width: 550px){
	.grid__display--people{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(7, 400px);
		grid-template-areas: 
			"person1" 
			"person2" 
			"person3"
			"person4" 
			"person5" 
			"person6"
			"person7"
			"person8";
	}
}