body{
	margin: 0;
	background-color: #FAFAFA;
    font-family: 'Questrial', sans-serif;
}
h2{
	font-weight: bold;
	color: white;
}
h3{
	color: black;
	font-weight: bold;
}
nav{
	background-color: #9179f2;
}
.page-footer{
	margin-top: 40px;
	background-color: #9179f2;
}